body{
    font-family: 'Open Sans', sans-serif;
    border: 0;
    margin: 0;
}
/* head section */
.head{
    background: rgba(229, 84, 115, 0.10);
    
}
.banner{
    
    color: #E554731A;
    display: flex;
    align-items: center;
    padding: 50px 120px 0px 120px;
    justify-content: space-around;
}
.banner-content{
    max-width: 700px;
}
.banner-title{
    color: #272727;
 font-family: Lato;
 font-size: 80px;

font-weight: 800;
margin-bottom: 30px;

}
.banner-description{
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;

    font-weight: 400;
    margin-bottom: 30px;
    
}
.btn-primary{
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-weight: 700;
    padding: 20px 40px;
    border-radius: 8px;
    background: #E55473;
}
/* main section */
/* section 1 */
.flowers{
    background: #FFF;
    margin: 178px 240px 128px 240px;
}
.our{
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
}
.it{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;

    font-weight: 400;


}
.border1{
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    background-image: url(./images/pngwing\ 6.png);
    background-position: bottom;
    background-repeat: no-repeat;
    margin-right: 24px;
                
}
.bsw{
    display: flex;

}
.pink{
    color: #272727;
    text-align:center;
    font-family: Lato;
    font-size: 24px;
    
    font-weight: 700;
    
    text-decoration-line: underline;
}
.text{
    display: flex;
    justify-content: space-around;
}
.border2{
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    width: 464px;
    height: 538px;
    background-image: url('/images/pngwing\ 5.png');
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 24px;
}
.border3{
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    width: 464px;
    height: 538px;
    background-image: url('images/pngwing\ 7.png');
    background-repeat: no-repeat;
    background-position: bottom;
}
/* section 2 */
.s1{
    
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
}
.section1description{
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
}
.section1description2{
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
}
.btn-primary2{
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-weight: 700;
    padding: 20px 40px;
    border-radius: 8px;
    background: #E55473;
}
.img-2{
    
    padding-left: 180px;
}
.sec1{
    padding: 100px 420px 100px 390px;
    display: flex;
}
/* Section 3 */

#section{
    
    margin: 128px 240px;
}
#paragraph1{
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;

}
#paragraph2{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;

    font-weight: 400;
    margin-bottom: 24px;
}
.div-3{
    display: flex;
    margin-bottom: 128px;
}
.img-3{
    margin-right: 24px;
    
}
.img-4{
    margin-right: 24px;
    
}
.img-5{
    margin-right: 24px;
    
}
.Get{
    background-image: url('./images/Rectangle\ 9.png');
    width: 1440px;
    height: 449px;
}
.the{
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
    padding-top: 122px;
}
.coupon{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
}
.em{
    width: 700px;
    height: 64px;
   
}
/* footer section */
.footer{
    
    background: #111010;
    padding: 128px 640px;
}
.fp{
    color: #E55473;
    font-family: Lato;
    font-size: 48px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 24px;
}
.ft{
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 32px ;

}
.last{
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;

}
.span2{
    color: #FFFFFF;
} 